<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet" />
    <title>Login</title>
  </head>
  <body
    class="h-screen overflow-hidden bg-gradient-to-r from-blue-100 to-blue-800 flex items-center justify-center"
  >
    <div class="min-h-screen p-6 flex items-center justify-center">
      <div class="container max-w-screen-lg mx-auto">
        <div>
          <!-- <h2 class="font-semibold text-xl text-gray-600">Responsive Form</h2>
      <p class="text-gray-500 mb-6">Form is mobile responsive. Give it a try.</p> -->

          <div class="bg-white rounded-3xl shadow-lg p-4 px-4 md:p-8 mb-6">
            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
              <div class="text-black">
                <p class="font-medium text-3xl">Login</p>
              </div>

              <div class="lg:col-span-2">
                <div
                  class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5"
                >
                  <div class="md:col-span-5">
                    <label for="email">Email Address</label>
                    <input
                      type="text"
                      name="email"
                      id="email"
                      class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                      value=""
                      placeholder="email@domain.com"
                    />
                  </div>

                  <div class="md:col-span-5">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      name="password"
                      id="password"
                      class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                      value=""
                    />
                    <p class="text-sm text-red-600">Incorrect Credentials</p>
                  </div>

                  <!-- <div class="md:col-span-5">
                    <label for="conf_password">Confirm Password</label>
                    <input
                      type="password"
                      name="conf_password"
                      id="conf_password"
                      class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                      value=""
                    />
                  </div> -->

                  <div class="md:col-span-5 text-right mt-3">
                    <div class="flex justify-center">
                      <button
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-3 w-1/2 rounded"
                      >
                        Login
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
