<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upload</title>
  </head>
  <body>
    <a href="/">
      <button>Home</button>
    </a>
    <br />
    <br />

    {% if msg %}
    <p style="color: limegreen">{{ msg }}</p>
    {% endif %}

    <br />
    <br />

    <!-- <script src="script.js"></script> -->
    <form>
      <label for="inputState">State</label>
      <select class="form-control" id="State" onchange="getState()">
        <option value="0">Select State</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Maharashtra">Maharashtra</option>

        <option disabled style="background-color: #aaa; color: #fff">
          UNION Territories
        </option>
        <!-- <option value="Andaman and Nicobar Islands">
            Andaman and Nicobar Islands
          </option>
          <option value="Chandigarh">Chandigarh</option>
          <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
          <option value="Daman and Diu">Daman and Diu</option> -->
        <option value="Delhi">Delhi</option>
        <!-- <option value="Lakshadeep">Lakshadeep</option>
          <option value="Pondicherry">Pondicherry</option> -->
      </select>

      <label for="District">District</label>
      <select class="form-control" id="District">
        <option value="0">-- Select --</option>
      </select>
    </form>
    <script>
      var Gujarat = [
        "Ahmedabad",
        "Amreli",
        "Anand",
        "Aravalli",
        "Banaskantha",
        "Bharuch",
        "Bhavnagar",
        "Botad",
        "Chhota Udaipur",
        "Dahod",
        "Dang",
        "Devbhoomi Dwarka",
        "Gandhinagar",
        "Gir Somnath",
        "Jamnagar",
        "Junagadh",
        "Kheda",
        "Kutch",
        "Mahisagar",
        "Mehsana",
        "Morbi",
        "Narmada",
        "Navsari",
        "Panchmahal",
        "Patan",
        "Porbandar",
        "Rajkot",
        "Sabarkantha",
        "Surat",
        "Surendranagar",
        "Tapi",
        "Vadodara",
        "Valsad",
      ];
      var Maharashtra = [
        "Ahmednagar",
        "Akola",
        "Amravati",
        "Aurangabad",
        "Beed",
        "Bhandara",
        "Buldhana",
        "Chandrapur",
        "Dhule",
        "Gadchiroli",
        "Gondia",
        "Hingoli",
        "Jalgaon",
        "Jalna",
        "Kolhapur",
        "Latur",
        "Mumbai City",
        "Mumbai Suburban",
        "Nagpur",
        "Nanded",
        "Nandurbar",
        "Nashik",
        "Osmanabad",
        "Palghar",
        "Parbhani",
        "Pune",
        "Raigad",
        "Ratnagiri",
        "Sangli",
        "Satara",
        "Sindhudurg",
        "Solapur",
        "Thane",
        "Wardha",
        "Washim",
        "Yavatmal",
      ];
      var Delhi = [
        "Central Delhi",
        "East Delhi",
        "New Delhi",
        "North Delhi",
        "North East Delhi",
        "North West Delhi",
        "Shahdara",
        "South Delhi",
        "South East Delhi",
        "South West Delhi",
        "West Delhi",
      ];

      function getState() {
        let StateSelected = document.getElementById("State");

        let optionsList = [];
        let htmlString = "";

        switch (StateSelected.value) {
          case "Gujarat":
            optionsList = Gujarat;
            break;
          case "Maharashtra":
            optionsList = Maharashtra;
            break;
          case "Delhi":
            optionsList = Delhi;
            break;
          default:
            htmlString = '<option value="0">-- Select --</option>';
        }

        for (let i = 0; i < optionsList.length; i++) {
          htmlString +=
            '<option value="' +
            optionsList[i] +
            '">' +
            optionsList[i] +
            "</option>";
        }

        document.getElementById("District").innerHTML = htmlString;
      }
    </script>
  </body>
</html>
