<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upload</title>
  </head>
  <body>
    <a href="/">
      <button>Home</button>
    </a>
    <br />
    <br />

    {% if msg %}
    <p style="color: limegreen">{{ msg }}</p>
    {% endif %}

    <!-- <script src="script.js"></script> -->

    <h1>
      File Upload Form
      <br />
    </h1>
    <h3>
      Found a Pot Hole ?
      <br />
      Be a Responsible Citizen and Report it !
    </h3>

    <form action="/file_upload" method="post" enctype="multipart/form-data">
      Address/Landmark :
      <input type="text" name="address" required />
      <br />
      <br />
      Area :
      <input type="text" name="area" required />
      <br />
      <br />

      <label for="state">State</label>
      <select
        class="form-control"
        id="state"
        name="state"
        onchange="getState()"
        required
      >
        <option value="">Select State</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Maharashtra">Maharashtra</option>

        <option disabled style="background-color: #aaa; color: #fff">
          UNION Territories
        </option>
        <option value="Delhi">Delhi</option>
      </select>
      <br />
      <br />
      <label for="district">District</label>
      <select class="form-control" id="district" name="district" required>
        <option value="">-- Select --</option>
      </select>
      <br />
      <br />
      ZipCode :
      <input type="text" name="zipcode" pattern="[0-9]{6}" required />
      <br />
      <br />
      <input type="file" name="road_img" required />
      <br />
      <br />
      <input type="submit" value="Submit" />
    </form>

    <script>
      var Gujarat = [
        "Ahmedabad",
        "Amreli",
        "Anand",
        "Aravalli",
        "Banaskantha",
        "Bharuch",
        "Bhavnagar",
        "Botad",
        "Chhota Udaipur",
        "Dahod",
        "Dang",
        "Devbhoomi Dwarka",
        "Gandhinagar",
        "Gir Somnath",
        "Jamnagar",
        "Junagadh",
        "Kheda",
        "Kutch",
        "Mahisagar",
        "Mehsana",
        "Morbi",
        "Narmada",
        "Navsari",
        "Panchmahal",
        "Patan",
        "Porbandar",
        "Rajkot",
        "Sabarkantha",
        "Surat",
        "Surendranagar",
        "Tapi",
        "Vadodara",
        "Valsad",
      ];
      var Maharashtra = [
        "Ahmednagar",
        "Akola",
        "Amravati",
        "Aurangabad",
        "Beed",
        "Bhandara",
        "Buldhana",
        "Chandrapur",
        "Dhule",
        "Gadchiroli",
        "Gondia",
        "Hingoli",
        "Jalgaon",
        "Jalna",
        "Kolhapur",
        "Latur",
        "Mumbai City",
        "Mumbai Suburban",
        "Nagpur",
        "Nanded",
        "Nandurbar",
        "Nashik",
        "Osmanabad",
        "Palghar",
        "Parbhani",
        "Pune",
        "Raigad",
        "Ratnagiri",
        "Sangli",
        "Satara",
        "Sindhudurg",
        "Solapur",
        "Thane",
        "Wardha",
        "Washim",
        "Yavatmal",
      ];
      var Delhi = [
        "Central Delhi",
        "East Delhi",
        "New Delhi",
        "North Delhi",
        "North East Delhi",
        "North West Delhi",
        "Shahdara",
        "South Delhi",
        "South East Delhi",
        "South West Delhi",
        "West Delhi",
      ];

      function getState() {
        let StateSelected = document.getElementById("state");

        let optionsList = [];
        let htmlString = "";

        switch (StateSelected.value) {
          case "Gujarat":
            optionsList = Gujarat;
            break;
          case "Maharashtra":
            optionsList = Maharashtra;
            break;
          case "Delhi":
            optionsList = Delhi;
            break;
          default:
            htmlString = '<option value="">-- Select --</option>';
        }

        console.log(optionsList);
        for (let i = 0; i < optionsList.length; i++) {
          htmlString +=
            '<option value="' +
            optionsList[i] +
            '">' +
            optionsList[i] +
            "</option>";
        }

        document.getElementById("district").innerHTML = htmlString;
      }
    </script>
  </body>
</html>
