<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upload</title>
  </head>
  <body>
    <a href="/">
      <button>Home</button>
    </a>
    <br />
    <br />

    {% if msg %}
    <p style="color: limegreen">{{ msg }}</p>
    {% endif %} {% if err %}
    <p style="color: red">{{ err }}</p>
    {% endif %}

    <!-- <script src="script.js"></script> -->

    <h1>
      File Upload Form
      <br />
    </h1>
    <h3>
      Found a Pot Hole ?
      <br />
      Be a Responsible Citizen and Report it !
    </h3>

    {% if remaining_attempts %}
    <form action="/file_upload" method="post" enctype="multipart/form-data">
      Address/Landmark :
      <input
        type="text"
        name="address"
        value="{{ values['address'] }}"
        required
      />

      {% if not check["valid_address"] %}
      <br />
      <br />
      <p style="color: red">Address cannot be empty</p>
      {% endif %}

      <br />
      <br />
      Area :
      <input type="text" name="area" value="{{ values['area'] }}" required />

      {% if not check["valid_area"] %}
      <br />
      <br />
      <p style="color: red">Area cannot be empty</p>
      {% endif %}

      <br />
      <br />

      <label for="state">State</label>
      <select id="state" name="state" onchange="getState()" required>
        <option value="">Select State</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Maharashtra">Maharashtra</option>
        <option disabled style="background-color: #aaa; color: #fff">
          UNION Territories
        </option>
        <option value="Delhi">Delhi</option>
      </select>

      {% if not check["valid_state"] %}
      <br />
      <br />
      <p style="color: red">Invalid State</p>
      {% endif %}

      <br />
      <br />

      <label for="district">District</label>
      <select id="district" name="district" required>
        <option value="">-- Select --</option>
      </select>

      {% if not check["valid_district"] %}
      <br />
      <br />
      <p style="color: red">Invalid District</p>
      {% endif %}

      <br />
      <br />

      ZipCode :
      <input
        type="text"
        name="zipcode"
        value="{{ values['zipcode'] }}"
        pattern="[0-9]{6}"
        required
      />

      {% if not check["valid_zip"] %}
      <br />
      <br />
      <p style="color: red">Invalid ZipCode</p>
      {% endif %}

      <br />
      <br />

      <input type="file" name="road_img" required />
      <p>File Formats Supported : JPG, PNG, JPEG</p>

      {% if not check["valid_file"] %}
      <br />
      <br />
      <p style="color: red">Invalid File Format</p>
      {% endif %}

      <br />
      <br />

      {{ captcha() }}
      <input type="text" name="captcha" required />

      {% if not check["valid_Captcha"] %}
      <br />
      <br />
      <p style="color: red">Incorrect CAPTCHA</p>
      {% endif %}

      <br />
      <br />

      <input type="submit" value="Submit" />
    </form>
    {% else %}
    <h1>You have exhausted all your attempts for today</h1>
    {% endif %}

    <h1>Remaining Attempts : {{ attempts }} ::: {{ remaining_attempts }}</h1>
    <script>
      var Gujarat = [
        "Ahmedabad",
        "Amreli",
        "Anand",
        "Aravalli",
        "Banaskantha",
        "Bharuch",
        "Bhavnagar",
        "Botad",
        "Chhota Udaipur",
        "Dahod",
        "Dang",
        "Devbhoomi Dwarka",
        "Gandhinagar",
        "Gir Somnath",
        "Jamnagar",
        "Junagadh",
        "Kheda",
        "Kutch",
        "Mahisagar",
        "Mehsana",
        "Morbi",
        "Narmada",
        "Navsari",
        "Panchmahal",
        "Patan",
        "Porbandar",
        "Rajkot",
        "Sabarkantha",
        "Surat",
        "Surendranagar",
        "Tapi",
        "Vadodara",
        "Valsad",
      ];
      var Maharashtra = [
        "Ahmednagar",
        "Akola",
        "Amravati",
        "Aurangabad",
        "Beed",
        "Bhandara",
        "Buldhana",
        "Chandrapur",
        "Dhule",
        "Gadchiroli",
        "Gondia",
        "Hingoli",
        "Jalgaon",
        "Jalna",
        "Kolhapur",
        "Latur",
        "Mumbai City",
        "Mumbai Suburban",
        "Nagpur",
        "Nanded",
        "Nandurbar",
        "Nashik",
        "Osmanabad",
        "Palghar",
        "Parbhani",
        "Pune",
        "Raigad",
        "Ratnagiri",
        "Sangli",
        "Satara",
        "Sindhudurg",
        "Solapur",
        "Thane",
        "Wardha",
        "Washim",
        "Yavatmal",
      ];
      var Delhi = [
        "Central Delhi",
        "East Delhi",
        "New Delhi",
        "North Delhi",
        "North East Delhi",
        "North West Delhi",
        "Shahdara",
        "South Delhi",
        "South East Delhi",
        "South West Delhi",
        "West Delhi",
      ];

      function getState() {
        let StateSelected = document.getElementById("state");

        let optionsList = [];
        let htmlString = "";

        switch (StateSelected.value) {
          case "Gujarat":
            optionsList = Gujarat;
            break;
          case "Maharashtra":
            optionsList = Maharashtra;
            break;
          case "Delhi":
            optionsList = Delhi;
            break;
          default:
            htmlString = '<option value="">-- Select --</option>';
        }

        console.log(optionsList);
        for (let i = 0; i < optionsList.length; i++) {
          htmlString +=
            '<option value="' +
            optionsList[i] +
            '">' +
            optionsList[i] +
            "</option>";
        }

        document.getElementById("district").innerHTML = htmlString;
      }
    </script>
  </body>
</html>
