<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dist/output.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-neutral-900 relative h-screen">
    <nav class="flex bg-yellow-300 items-center h-24">
      <a href="/">
        <button
          class="hover:bg-yellow-300 hover:text-black border-[3px] border-black bg-black text-yellow-300 font-bold text-xl ml-5 py-1 px-1 rounded-lg h-12 w-12"
        >
          <!-- <button class="border-4 border-black mx-5 p-2 h-10 w-10 rounded-full"> -->
          <i class="fa-solid fa-house"></i>
        </button>
      </a>
      <span class="p-2 text-2xl font-semibold"> Road Health Management </span>
    </nav>
    <div
      class="container mx-auto flex-1 flex items-center justify-center px-2 py-5 w-2/3"
    >
      <div
        class="bg-neutral-900 py-8 my-5 rounded-3xl shadow-md text-yellow-300 w-full border-4 border-yellow-300 items-center justify-center flex flex-col"
      >
        {% if user_verified %}

        <p class="text-xl text-justify font-semibold">
          User Verified Successfully.
        </p>
        {% endif %} {% if pass_change %}
        <p class="text-xl text-justify font-semibold">
          Password Changed Successfully.
        </p>

        {% endif %}
        <br />
        <p class="text-xl text-justify font-semibold">
          You'll be redirected to Login Page in
          <span id="remaining_seconds">5</span>
        </p>
      </div>
    </div>
    <script>
      verified_redirect = setInterval(() => {
        seconds_redirect = Number(
          document.getElementById("remaining_seconds").innerText
        );
        seconds_redirect--;
        document.getElementById("remaining_seconds").innerHTML =
          seconds_redirect;
        if (seconds_redirect == 0) {
          // element.innerHTML = "Stop" + i;
          clearInterval(verified_redirect);
          console.log("stop");
          window.location.href = "/login";
        }
      }, 1000);
    </script>
  </body>
</html>
